/* CLIENTS */
.clients {
  background-color: var(--bgc);
  &__container {
    padding: 100px 10px 120px;
  }
  &__title {
    margin-bottom: 15px;
    font-family: var(--font-family);
    font-size: 21px;
    line-height: 140%;
    color: var(--accent);
    text-align: center;
  }
  &__text {
    margin-bottom: 60px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: var(--accent);
  }
  .tabs-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 18px;
    margin-bottom: 55px;
    &__btn {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 171px;
      height: 61px;
      &-text,
      &-empty {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% - 6px);
        height: calc(100% - 6px);
        background-color: var(--bgc);
        border: 1px solid var(--grey);
        transition: 0.3s ease-in-out;
      }
      &-text {
        top: 0;
        right: 6px;
        bottom: 6px;
        left: 0;
        text-transform: uppercase;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.1em;
        color: var(--accent);
      }
      &-empty {
        top: 6px;
        right: 0;
        bottom: 0;
        left: 6px;
        z-index: 0;
      }

      &.open-tab {
        width: 165px;
        background-color: var(--accent);
        span {
          height: 100%;
          background: transparent;
          border: none;
          color: var(--white);
          transition: 0.3s ease-in-out;
        }
        .tabs-name__btn-text {
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }

      &:hover:not(.open-tab) {
        span {
          background-color: var(--white);
        }
      }
      &:active:not(.open-tab) {
        span {
          background-color: var(--grey);
          border-color: var(--white);
          color: var(--white);
        }
      }
    }
  }
  .tabs-products {
    position: relative;
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      opacity: 0;
      visibility: hidden;
      height: 0;
      transition: height 0.3s ease-in-out;
      &.show-list {
        opacity: 1;
        visibility: visible;
        height: auto;
      }
    }
    &__item {
      position: relative;
      flex: 1 1 350px;
      min-height: 280px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding: 30px;
      transition: 0.3s ease-in-out;
      opacity: 1;
      &.products-item-1 {
        background:
          linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, #333 100%),
          center / cover no-repeat url(./img/clients-item-1.png);
      }
      &.products-item-2 {
        background:
          linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, #333 100%),
          center / cover no-repeat url(./img/clients-item-2.png);
      }
      &.products-item-3 {
        background:
          linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, #333 100%),
          center / cover no-repeat url(./img/clients-item-3.png);
      }
      &.products-item-4 {
        background:
          linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, #333 100%),
          center / cover no-repeat url(./img/clients-item-4.png);
      }
      &.products-item-5 {
        background:
          linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, #333 100%),
          center / cover no-repeat url(./img/clients-item-5.png);
      }
      &.products-item-6 {
        background:
          linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, #333 100%),
          center / cover no-repeat url(./img/clients-item-6.png);
      }
      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 0.6;
      }
      &-btn {
        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
        span {
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 24px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: var(--white);
        }
      }
    }
  }
}
