/* MAILING */
.mailing {
  background-image: url("../img/dark-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--white);

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 100px 10px 120px;
  }
  &__title {
    margin: 0 0 60px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
  }
  &__text {
    order: -1;
    margin: 0 0 15px;
    font-size: 21px;
    line-height: 1.4;
  }
  &__wrap-mail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }
  &-benefit {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
  }
  &-benefit__descr {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    line-height: 1.4;
  }
  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px 22px;
    max-width: 418px;
    min-height: 85px;
    background-color: var(--white);
    outline: 1px solid var(--white);
    outline-offset: 15px;
  }
  &__input {
    flex: 1 1 200px;
    max-width: 200px;
    min-height: 45px;
    padding: 15px 20px;
    border: 1px solid var(--grey);
    transition: 0.3s ease-in-out;
    &::placeholder {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    &:focus {
      box-shadow: 0px 0px 10px 0px var(--grey);
    }
  }
  &__btn {
    flex: 1 1 159px;
    padding: 15px 35px;
    min-height: 45px;
    text-transform: uppercase;
    background-color: var(--accent);
    transition: 0.3s ease-in-out;
    &:focus {
      box-shadow: 0px 0px 10px 0px var(--accent);
    }
    &:hover {
      opacity: 0.8;
    }
  }
}
