/* SOCIAL */
.social {
  background-color: var(--bgc);
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 60px 10px 150px;
  }
  &__title {
    margin: 0 0 60px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
  }
  &__link {
    position: relative;
    order: -1;
    margin: 0 0 15px;
    font-size: 21px;
    line-height: 1.4;
    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--accent);
      transform: scale(0);
      transition: 0.3s ease-in-out;
    }
    &:hover {
      &::after {
        transform: scale(1);
      }
    }
  }
  &__gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &-item {
      max-width: 555px;
      min-height: 300px;
    }
  }
  &__video {
    cursor: pointer;
  }
  &__images {
    display: flex;
  }
}
