:root {
  --height-header: auto;

  --font-family: "Gilroy", sans-serif;
  --second-family: "Noto Serif", sans-serif;

  --bg-87: rgba(51, 51, 51, 0.87);
  --accent: rgba(51, 51, 51, 1);
  --white: rgba(255, 255, 255, 1);
  --grey: rgb(214, 214, 214);
  --bgc: rgba(249, 249, 249, 1);
  --hard-grey: rgba(151, 151, 151, 1);
}
